@font-face{
  font-family: 'Lato';
  src:url('./assets/fonts/Lato.ttf') ;
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

body {
  margin: 0;
  font-family: Lato ;
  display: flex;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}